extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de nosotros")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, architecto maiores voluptatibus voluptatum deleniti, laboriosam deserunt laborum delectus modi beatae fugiat recusandae vero ea animi eligendi distinctio aliquid labore minus!
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto quidem officia, voluptatem, unde rerum quod asperiores praesentium eius debitis eaque quasi magni quis repellat ab soluta, exercitationem at? Qui sed sequi placeat inventore temporibus veniam vel perferendis? Qui sed sequi placeat inventore temporibus veniam vel perferendis? 
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto quidem officia, voluptatem, unde rerum quod asperiores praesentium eius debitis eaque quasi magni quis eaque quasi magni quis 
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")  
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis velit earum, maiores reiciendis ipsum unde labore aspernatur animi dolorum fugit? 
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")  
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis velit earum, maiores reiciendis ipsum unde labore aspernatur animi dolorum fugit? 
                .col-md-4
                    img(src="img/icono_precio.svg", class="img-fluid mb-4")  
                    h2.mb-4 Mejores precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis velit earum, maiores reiciendis ipsum unde labore aspernatur animi dolorum fugit? 